<template>
  <div class="about">
    <h1>Mi nombre es Alvaro Andrés Álvarez Rodríguez, me encantantaría ser parte de grandes proyectos y desarrollos, demostrando mi capacidad de adaptación y resolución de problemas</h1>
  </div>
</template>
