<template>
  <div class="comic">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-card
              :loading="loading"
              class="mx-auto my-12"
            >
              <template slot="progress">
                <v-progress-linear
                  color="deep-purple"
                  height="10"
                  indeterminate
                ></v-progress-linear>
              </template>
              <v-card-title class="justify-center">{{data.title}}</v-card-title>
              <v-img
                max-height="auto"
                max-width="100%"
                :src="data.img"
                :alt="data.alt"
              ></v-img>
              <v-card-text>
                <v-row
                  align="center"
                  class="mx-0 justify-center"
                >
                  <v-rating
                    v-model="rating"
                    color="amber"
                    dense
                    half-increments
                    hover
                    size="45"
                  ></v-rating>
                  <!-- <div class="grey--text ml-4">
                    {{rating}}
                  </div> -->
                </v-row>
                <div class="my-4 subtitle-1">
                  <v-chip class="ma-2" color="primary"> {{ data.fecha  }}</v-chip>
                </div>
              </v-card-text>
              <v-divider class="mx-4"></v-divider>
              <v-card-actions class="d-block-inline">
                <v-spacer></v-spacer>
                <v-btn
                  color="deep-purple lighten-2"
                  @click="calificar"
                >
                  Calificar
                </v-btn>
              </v-card-actions>
            </v-card>
        </v-col>
        <!-- <v-col cols="12">
          <Estrellas :max="5">
          </Estrellas>
        </v-col> -->
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Estrellas from '@/components/Estrellas.vue'

export default {
  name: 'Home',
  components: {
    Estrellas
  },
   data () {
    return {
      loading: false,
      selection: 1,
      rating: 0,
      data: {},
      meses: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
    }
  },
  async mounted () {
    await this.getData()
  },
  methods: {
    async getData () {
      await axios.get('https://cors-anywhere.herokuapp.com/https://xkcd.com/info.0.json').then((response) => {
        this.data = response.data
        let date = new Date(response.data.year,response.data.month,response.data.day)
        this.data.fecha = date.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
      }).catch((error) => {
        console.log(error)
        throw error
      })
    },
    calificar () {
      alert('Se ha calificado con: ' + this.rating + ' estrellas')
    }
  }

}
</script>
