<template>
  <div>
    <div class="rating">
      <div  v-for="n in max" :key="n" >
        <input type="radio" :id="'radio' + n" :value="n" v-model="calificacion" @click="cambiarLabel(n)" @mouseover="indexHover = n">
        <label :for="'radio' + n" :class="{ colorNaranja: clasesEstrellas[n] }" @mouseover="indexHover = n">★</label>
      </div>
    </div>
    <br>
    <span>Calificación: {{ calificacion }}</span>
  </div>
</template>
<script>

export default {
  components: { },
  mixins: [],
  name: 'calificar-estrellas',
  data () {
    return {
      id: '',
      isLoading: false,
      calificacion: 0,
      indexHover: 0
    }
  },
  props: {
    max: {
      type: Number,
      default: 5
    }
  },
  watch: {
  },
  computed: {
    clasesEstrellas () {
      let estrellas = {}
      for (let i = 1; i <= this.max; i++) {
        estrellas[i] = false
      }
      return estrellas
    }
  },
  async mounted () {
  },
  methods: {
    cambiarLabel (n) {
      for (let i = 1; i <= this.max; i++) {
        this.clasesEstrellas[i] = false
      }
      for (let i = 1; i <= n; i++) {
        this.clasesEstrellas[i] = true
      }
      this.$emit('puntuacion', this.checkedNames)
    }
  }
}
</script>
<style scoped>
  #div {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  }

  #div p {
    text-align: center;
  }

  #div label {
    font-size: 20px;
  }

  label:hover,
  label:hover ~ label {
    color: orange;
  } 

  /* input[type="radio"]:checked ~ label {
    color: orange;
  } */
  
  input[type="radio"] {
    display: none;
  }

  label {
    color: grey;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  .rating {
    float:left;
    width:300px;
    display: flex;
  }
  .colorNaranja {
    color: orange;
  }

</style>
